<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">

      <article class="message">
        <div class="message-header">
          <h1 class="title">Github user details!</h1>
        </div>
        <div class="message-body">
          This application is a demo for showing the usage of github api.
          Click on <strong><a routerLink="users"> Users </a></strong> from the Navbar to list the users and view each view user repositories.
        </div>
      </article>
    </div>
  </div>
</section>
